<!DOCTYPE html>
<html lang="{{ lang }}">
{% include 'templates/head.html' %}
   <body>
      <div class="chrome">
         {% include 'templates/navbar.html' %}
         <div class="chrome:body">
            {% include 'templates/header.html' %}
            <div class="chrome:content">
               <div class="chrome:main" id="main">
                  <h1>Page not found</h1>
                  <hr/>
                  <p>That page does not exist. It may have been renamed or moved.</p>
                  <p>Try the <a href="/index.html">presentation</a>, the
                     <a href="/html/guidelines/{{ lang }}/character_table.html">table of characters</a>,
                     or the search box above.</p>
               </div>
               {% include 'templates/sidebar.html' %}
            </div>
            {% include 'templates/footer.html' %}
         </div>
      </div>
      <script src="/assets/js/accordian.js"></script>
      <script src="/assets/js/minisearch.min.js"></script>
      <script src="/assets/js/basic_search.js"></script>
   </body>
</html>
