<div class="chrome:content">
   <div class="chrome:main">
      <h1>{{ label }}</h1>
      <div id="description">
      </div>
      <hr/>
      <dl>
         <dt>Name</dt>
         <dd>{{ name }}</dd>
         <dt>Code Unicode</dt>
         <dd>{{ code }}</dd>
         <dt>Char</dt>
         <dd class="indexchars">{{ char }}</dd>
         <dt>Group</dt>
         <dd>{{ group }}</dd>
         <dt>Position</dt>
         <dd><div class="centered-element">
            <table  class="position_table">
               <tr>
                  {% if "A" in position %}
                  <td class="active">X</td>
                  {% else %}
                  <td class="inactive">X</td>
                  {% endif %}
                  {% if "B" in position %}
                  <td class="active">X</td>
                  {% else %}
                  <td class="inactive">X</td>
                  {% endif %}
                  {% if "C" in position %}
                  <td class="active">X</td>
                  {% else %}
                  <td class="inactive">X</td>
                  {% endif %}
               </tr>
               <tr>
                  {% if "D" in position %}
                  <td class="active">X</td>
                  {% else %}
                  <td class="inactive">X</td>
                  {% endif %}
                  {% if "E" in position %}
                  <td class="active">X</td>
                  {% else %}
                  <td class="inactive">X</td>
                  {% endif %}
                  {% if "F" in position %}
                  <td class="active">X</td>
                  {% else %}
                  <td class="inactive">X</td>
                  {% endif %}
               </tr>
               <tr>
                  {% if "G" in position %}
                  <td class="active">X</td>
                  {% else %}
                  <td class="inactive">X</td>
                  {% endif %}
                  {% if "H" in position %}
                  <td class="active">X</td>
                  {% else %}
                  <td class="inactive">X</td>
                  {% endif %}
                  {% if "I" in position %}
                  <td class="active">X</td>
                  {% else %}
                  <td class="inactive">X</td>
                  {% endif %}
               </tr>
            </table>
         </div>
         </dd>
         <dt>Description</dt>
         <dd>{{ description }}</dd>
         {% if other_names %}
         <dt>Other names</dt>
         <ul>
            {% for other_name in other_names %}
            <li>{{ other_name }}</li>
            {% endfor %}
         </ul>
         {% endif %}
         <dt>Examples</dt>
         <dd>{% for example in examples %}
            <span class="image"><img src="{{ abspath }}/{{ example }}" alt="Some char image"/></span>
            {% endfor %}
         </dd>
         {% if corresp %}
         <div>
            <h6>Related characters</h6>
            <ul>
               {% for corresp_char in corresp %}
               <li class="retrait">
                  {{ corresp_char['name'] }}
                  <dl class="retrait">
                     <dt>Char</dt>
                     <dd class="indexchars">{{ corresp_char['transcription'] }}</dd>
                     <dt>Code</dt>
                     <dd>{{ corresp_char['code'] }}</dd>
                     {% if corresp_char['examples'] %}
                     <dt> Examples</dt>
                     <dd>  {% for corresponding_example in corresp_char['examples'] %}
                        <span class="image"><img src="{{ abspath }}/{{ corresponding_example }}" alt="some other image"/></span>
                        {% endfor %}
                     </dd>
                     {% endif %}
                  </dl>
               </li>
               {% endfor %}
            </ul>
         </div>
         {% endif %}
      </dl>
      <div id="next_previous"></div>
   </div>
   {% include 'templates/sidebar.html' %}
</div>
