   <div class="chrome:content">
               <div class="chrome:main">
                  <h1>{{ label }}</h1>
                  <div id="description">
                     <h2>Description</h2>
                  </div>
                  <hr/>
                  <div>
                     <div>
                        <h3>Name: {{ name }}</h3>
                     </div>
                     <div>
                        <h3>Code Unicode: {{ code }}</h3>
                     </div>
                     <div>
                        <h3>char: {{ char }}</h3>
                     </div>
                     <div>
                        <h3>Group: {{ group }}</h3>
                     </div>
                     <div>
                        <h3>Position:</h3>
                        <table  class="position_table">
                           <tbody>
                              <tr>
                                 {% if "A" in position %}
                                 <td class="active">X</td>
                                 {% else %}
                                 <td class="inactive">X</td>
                                 {% endif %}
                                 {% if "B" in position %}
                                 <td class="active">X</td>
                                 {% else %}
                                 <td class="inactive">X</td>
                                 {% endif %}
                                 {% if "C" in position %}
                                 <td class="active">X</td>
                                 {% else %}
                                 <td class="inactive">X</td>
                                 {% endif %}
                              </tr>
                              <tr>
                                 {% if "D" in position %}
                                 <td class="active">X</td>
                                 {% else %}
                                 <td class="inactive">X</td>
                                 {% endif %}
                                 {% if "E" in position %}
                                 <td class="active">X</td>
                                 {% else %}
                                 <td class="inactive">X</td>
                                 {% endif %}
                                 {% if "F" in position %}
                                 <td class="active">X</td>
                                 {% else %}
                                 <td class="inactive">X</td>
                                 {% endif %}
                              </tr>
                              <tr>
                                 {% if "G" in position %}
                                 <td class="active">X</td>
                                 {% else %}
                                 <td class="inactive">X</td>
                                 {% endif %}
                                 {% if "H" in position %}
                                 <td class="active">X</td>
                                 {% else %}
                                 <td class="inactive">X</td>
                                 {% endif %}
                                 {% if "I" in position %}
                                 <td class="active">X</td>
                                 {% else %}
                                 <td class="inactive">X</td>
                                 {% endif %}
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div>
                        <h3>Description</h3>
                        <p>{{ description }}</p>
                     </div>
                     {% if other_names %}
                     <div>
                        <h3>Other names</h3>
                        <ul>
                           {% for other_name in other_names %}
                           <li>{{ other_name }}</li>
                           {% endfor %}
                        </ul>
                     </div>
                     {% endif %}
                     <div>
                        <h3>Examples</h3>
                           {% for example in examples %}
                           <span class="image"><img src="/future-website/{{ example }}" alt="Some char image"/></span>
                           {% endfor %}
                     </div>
                     <div>
                        <h3>Related characters</h3>
                        <ul>
                           {% for corresp_char in corresp %}
                           <li>
                              {{ corresp_char['name'] }}
                              <ul>
                                 <li><b>Char</b>: {{ corresp_char['transcription'] }}</li>
                                 <li><b>Code</b>: {{ corresp_char['code'] }}</li>
                                 {% if corresp_char['examples'] %}
                                 <li>
                                    <b>Examples</b>:
                                       {% for corresponding_example in corresp_char['examples'] %}
                                       <img search="/future-website/{{ corresponding_example }}" alt="some other image"/>
                                       {% endfor %}
                                 </li>
                                 {% endif %}
                              </ul>
                           </li>
                           {% endfor %}
                        </ul>
                     </div>
                     <div id="next_previous"></div>
                  </div>
               </div>
      
            {% include 'templates/sidebar.html' %}
            </div>
         