<header class="chrome:header">
               <div class="chrome:header_title">
                  <a href="{{abspath}}/index.html" class="text-grey-800 no-underline hover:no-underline focus:no-underline">
                  <span class="text-3xl">Consistent Approaches to Transcribing ManuScripts</span>
                  </a>
               </div>
    <div class="chrome:header_item"><button id="language" class="box" type="button">English version</button></div>
               <div class="chrome:header_item">
                  <form id="search" class="center">
                     <input type="text" id="search_input_guidelines" name="search_query" class="search_input" placeholder="Chercher dans le manuel" autocomplete="off">
                     <input type="text" id="search_input_characters" name="search_query" class="search_input" placeholder="Chercher dans les caractères" autocomplete="off">
                  </form>
                  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" focusable="false" viewBox="0 0 26 26">
                     <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2">
                        <circle cx="11" cy="11" r="7"></circle>
                        <path d="M16 16l6 6"></path>
                     </g>
                  </svg>
               </div>
            </header>