<div class="chrome:nav">
   <div class="chrome:logo_nav_item" title="GitHub Repository">
      <img src="{{abspath}}/assets/images/catmus.png" alt="Catmus logotype">
   </div>
   <div class="chrome:logo_nav_item" title="WIP">
      <span style="font-weight: 400; font-size:xx-large; background-color: yellow; padding-left: 4px; padding-right: 4px; color:#012b30;">[WIP]</span>
   </div>
   <div class="chrome:logo_nav_item bottom center" title="GitHub Repository">
      <a href="https://github.com/catmus-guidelines/{{abspath.split('/')[-1]}}" target="_blank" rel="noreferrer noopener">
         <img src="{{abspath}}/assets/images/github-mark-white.svg" alt="Link to GitHub Repository">
      </a>
   </div>
</div>