<div class="chrome:nav">
   <div class="chrome:logo_nav_item" title="CATMuS">
      <img src="/assets/images/catmus.png" alt="CATMuS logotype">
   </div>
   <div class="chrome:logo_nav_item" title="Work in progress">
      <span class="wip-badge">[WIP]</span>
   </div>
   <div class="chrome:logo_nav_item bottom center" title="GitHub repository">
      {# The repository URL used to be built from abspath.split('/')[-1], which
         produced an empty link on every local build. It now comes from meta.yml. #}
      <a href="{{ repository }}" target="_blank" rel="noreferrer noopener">
         <img src="/assets/images/github-mark-white.svg" alt="GitHub repository">
      </a>
   </div>
</div>
